/* *RESET* */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #01656d;
}

#ticket-price {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}

#ticket-price:hover {
    text-decoration: underline;
    cursor: pointer;
}